<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.tickets/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.tickets.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="CinemaHall.browse" caption="msg://com.company.tickets.screen.cinemahall/cinemaHallBrowse.menu"/>
    </menu>

</menu-config>